/* Damian Jordaan u20473509 PA4 */

.form{
    text-align: left;
}

.row{
    display: table; 
    content: ''; 
    clear: both;
    text-align: left;
}

.col{
    padding: 10px; 
    float: left; 
    font-size: 30px;
    text-align: left;
}

.input{
    padding: 10px; 
    font-size: 20px;
    float: left; 
    /* color: white; 
    background-color: #0c0f25; */
    text-align: left;
    vertical-align: middle;
}